* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding: 16px;
    margin: 16px;
    font-size: 54px;
    font-family: 'Kalnia', serif;
}

h2 {
    text-align: center;
    padding: 16px;
    margin: 16px;
    font-size: 32px;
    font-family: 'Kalnia', serif;
    font-weight: 10px;
}

p {
    text-align: center;
    padding: 8px;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 20px;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 28px;
    color: #fff;
}
.botao1 {
    background-color: #0ad6ff;
}
.botao2 {
    background-color: #000;
}
footer {
    color: #fff;
    background-color: #000;
    padding: 12px;
}

.feature, .cta {
    text-align: center;
}


 